body {
    /* background-color: aquamarine; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.important {
    padding: 10px 0px;
    font-size: 1.5em;
}

.article {
    padding: 10px;
    border: 1px solid blue;
}

.article__header {
    font-size: 1.5em;
}

.article__content {
    margin-left: 20px;
    margin-right: 20px;
}

.article__footer {
    padding: 0 30px;
}

.aside_box--dark {
    background-color: azure;
    border: 1px solid #333;
    font-style: italic;
    font-size: 0.8em;
    margin: 10px;
    padding: 10px;
}

.goldenrod {
    background-color: goldenrod;
}

.dashed {
    border: 1px dashed black;
}